
@media only screen and (max-width: 600px) {
header {
	height: 100px;
	display: flex;
	justify-content: space-between;
}
a {
	text-decoration: none;
	color: inherit;
}
.main-container {
	padding: 30px 20px;
}
.main-container-header{
	padding: 0px 20px;
}
.logo{
	width: 150px;
}
#tab-menu {
	width: 60px;
	height: 60px;
	border: 1px solid;
	display: flex;
	align-content: center;
	flex-flow: row wrap;
}
#tab-menu div {
	height: 10px;
	background-color: #000;
	width: 80%;
	margin: auto;
	margin-bottom: 4px;
}
.menu {
	position: fixed;
	top: 100px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #fff;
}
.unvisible{
	visibility: hidden;
}
div.visible {
	visibility: visible;
}
.menu li {
	text-align: center;
	margin-bottom: 20px;
	font-size: 40px;
	color: blue;
}
.menu li img {
	width: 80px;
}
#banner {
	background-color: #e2dfdf;
}
#banner img {
	width: 100%;
}
.new-img img {
	width: 100%;
}
.header1 {
	display: flex;
	flex-wrap: nowrap
}
.header1 h2 {
	color: blue;
	font-size: 25px;
	font-family: "BPG Ingiri Arial";
}
.header1 a {
	color: red;
	font-size: 15px;
	font-family: "BPG Ingiri Arial";
	padding: 5px 5px;
}
#news {
	background-color: #BDCCD4;
}
.new-img {
	padding: 20px 0px;
}
.new-img a {
	display: block;
	background-color: #E6E6E6;
	padding: 10px;
	padding-left: 20px;
	position: relative;
	bottom: 10px;
	font-size: 40px;	
	font-family: 'BPG Ingiri Arial'
}
#media {
	background-color: #e2dfdf; 
}
.header2 {
	display: flex;
	flex-wrap: nowrap
}
.header2 h2 {
	color: black;
	font-size: 25px;
	font-family: "BPG Ingiri Arial";
}
.header2 a {
	color: red;
	font-size: 15px;
	font-family: "BPG Ingiri Arial";
	padding: 5px 5px;
}
.text{
	padding: 10px;
    margin: 30px 0px;
	background-color: white;
}
.text img {
	width: 100px;
}
.text h3 {
	font-size: 20px;
	font-family: "BPG LE Studio 02 Caps";
	color: blue;
}
.text p {
	font-size: 10px;
	font-family: "BPG LE Studio 02 Caps";
	color: #696969;
}
.text a {
	color: blue;
	padding-left: 220px;
}
.fot1{
	display: flex;
	justify-content: center;
	font-size: 10px;
	font-family: "BPG LE Studio 02 Caps";
}
.fot2{
	display: flex;
	justify-content: center;
	font-size: 10px;
	font-family: "BPG LE Studio 02 Caps";
}
}